@media (max-width: 870px) {
  ul li {
    display: none;
  }

  nav .right h1 {
    display: none;
  }
}

@media (max-width: 450px) {
  nav {
    justify-content: space-between;
    padding-left: 1rem;
  }
 
  .right i:nth-child(5) {
    display: block;
  }
  .right i{
    display: none;
  }
  button:nth-child(3) {
   display: none;
  }
  section:nth-child(1) {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .uppertext h1 {
    text-transform: capitalize;
    font-size: 2rem;
  }

  .uppertext p {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.15rem;
  }

  .sec1-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 1rem;
    animation: marquee 5s linear infinite;

  }


  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }


  .logos img {
    width: 2.5rem;
  }

  .logos2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 1rem;
  }

  .vid1 {
    overflow: hidden;
    width: 100vw;
  }

  .vid1 img {
    display: block;
    width: 120%;
  }

  .vid1 video {
    display: none;
  }

  .-mt-8 {
    height: 4rem;
    margin-top: -10rem;
  }

  .mt-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    text-align: center;
  }

  .mt-8 h1 {
    margin-top: 6rem;
    font-family: ui-serif;
    width: 100%;
    line-height: 1.5lh;
    font-size: 1.8rem;
  }

  .lowertext {
    display: none;
  }

  section:nth-child(2) {
    flex-direction: column;
    height: fit-content;
    width: 90%;
    margin: auto;
  }

  .left-text {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  .left-text h1 {
    font-size: 1.6rem;
  }

  .left-text p {
    font-size: 1.1rem;
  }

  .collab {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .right-vid {
    margin-top: 1rem;
    width: 100%;
  }

  .lund {
    display: none;
  }

  .lund2 {
    margin-top: 1rem;
  }

  .lund2 h1 {
    color: #7001ca;
    font-size: 2.5rem;
  }

  .lund2 p {
    font-size: 1rem;
  }

  section:nth-child(3) {
    height: 90vh;
    width: 100%;
    display: flex;
  }

  .section3 {
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 90%;
  }

  .section3 .left-text h1 {
    font-size: 1.6rem;
    line-height: 1lh;
    font-weight: 600;
  }

  .section3 .left-text button {
    background: transparent;
    color: blue;
    border: none;
  }

  .right-img {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
  }



  section:nth-child(4) {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  section:nth-child(4) h1 {
    font-size: 1.8rem;
    width: 100%;
  }

  .flex-grow {
    display: flex;
    overflow: auto;
    width: 90%;
    justify-content: flex-start;
    margin-top: 0rem;
  }

  .card {
    width: 80%;
    flex-shrink: 0;
    height: 18rem;
    border-radius: 1.5rem;
  }

  .btns {
    flex-direction: column;
    gap: 1rem;
    width: 90%;
  }

  .white-curve {
    background-color: rgb(255, 255, 255);
    clip-path: ellipse(80% 200% at 50% -105%);
    height: 4rem;
    margin-bottom: -4rem;
  }

  .curve-aubergine {
    background: #4a154b;
    height: 8rem;
  }

  section:nth-child(7) {
    height: fit-content;
    gap: 2rem;
    padding-bottom: 2rem;
  }

  section:nth-child(7)>h1 {
    font-size: 1.9rem;
    text-align: center;
    font-weight: 600;
  }

  .clip-down {
    flex-direction: column;
    gap: 1rem;
  }

  .clip-down h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  .clip-down p {
    width: fit-content;
    font-size: 1rem;
    font-weight: 600;
  }


  section:nth-child(8) {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  section:nth-child(8)>h1 {
    font-size: 1.8rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .dif {
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
  }

  .dif .left {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: none;
    border-bottom: 1px solid rgba(79, 79, 79, 0.607);
  }

  .left>div {
    flex-direction: column;
    justify-content: flex-end;
    gap: 0rem;
    text-align: center;
  }

  .left>div>h1 {
    font-size: 2.2rem;
  }

  .left>div>p {
    width: 100%;
  }

  .dif .right {
    text-align: center;
    border: none;
  }

  .dif .right>h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .dif .right>p {
    font-size: 1.1rem;
  }

  .right>.imgs {
    width: 100%;
  }

  .imgs>img {
    height: 9rem;
  }

  .imgs img:nth-child(5),
  .imgs img:nth-child(6) {
    display: none;
  }




  section:nth-child(9) {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  section:nth-child(9)>h1 {
    font-size: 1.8rem;
    line-height: 1.5lh;
  }

  select {
    width: 90%;
    padding: .5rem;
    background: transparent;
  }

  .cards {
    width: 90%;
    overflow-x: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .crd {
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    background: rgba(255, 253, 253, 0.627);
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.669);
    border-radius: .5rem;
    overflow: hidden;
  }

  .crd img {
    width: 100%;
  }

  .crd>button {
    margin: 1rem;
  }

  .crd p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .crd h1 {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  pre {
    display: none;
    font-size: 0.97rem;
    color: rgb(67, 67, 67);
  }




  .ftop {
    background: #4a154b;
    text-align: center;
    color: white;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    clip-path: ellipse(100% 90% at 50% 0%);
    margin-top: 0rem;
  }

  .ftop>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 1rem;
  }

  .ftop>div>button {
    width: 80%;
    padding: 1rem 0;
  }

  .ftop>h1 {
    font-size: 2rem;
    line-height: 1.5lh;
    width: 70%;
  }

  .ftop button:nth-child(1) {
    background: white;
    margin-right: 0px;
  }



  .socials {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 15vh;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid rgb(183, 183, 183);
    margin: auto;
    justify-content: center;
  }

  .socials select {
    width: 70%;
    font-size: 1rem;
    padding: 0.25rem 1rem;
    border: none;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .icons>i {
    font-size: 1.5rem;
  }


  .fbottom {
    padding-top: 2rem;
    height: fit-content;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    padding-inline: 2rem;
  }

  .fbottom>img {
    display: none;
  }

  .grid-links {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
  }

  .link-mt {
    margin-top: 1rem;
  }

  .link>h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
  }

  .link>h1>i {
    font-size: 1.5rem;
  }

  .link>p {
    display: none;
  }
}