@media  (max-width: 1100px) {
  
  button {
    padding: 0.8rem 1.6rem;
    border: 2px solid rgb(28, 0, 59);
    border-radius: 0.5rem;
    color: rgb(28, 0, 59);
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
  }

  .right>i {
    font-size: 1.5rem;
    /* color: red; */
  }
  button:nth-child(3) {
    background: white;
    display: none;
  }
  button:nth-child(4) {
    color: white;
  }
  
}
